* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f7f7ee;  
}

/* ===============
    Navbar style
================== */
    
#navbar {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #17706e;
    position: sticky;
    top: 0;
    padding: 0.8rem;
   
}

.name-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#admin, #cart {
    color: #f7f7ee; 
}
.linkNav a{   
    font-size: 1.3rem;
    margin-right: 2rem;    
    transition-duration: 900ms; 
}

.linkNav a:hover{
    text-decoration: underline;     
}

#logo {
    width: 14rem;
    height: 2.5rem;
}

 
a {
    text-decoration: none;
}

.fas {
    font-size: 1.3rem;
    margin-right: 0.4rem;   
    color: #f7f7ee; 
}

#navbar  button .fas:hover{
    color: rgb(18, 18, 209);

}

/* ================
    Card style
=================== */
.card {
    border-radius: 0.5rem;
    background-color: #b6eb7a;
    width: 12.8rem;
    height: 21.2rem;
    text-align: center;    
    margin: auto;    
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    transition-duration: 350ms; 
}
.card:hover {
    box-shadow: 2px 2px 12px 5px #17706e;
}

.card h4, h5, p, button {
    margin-bottom: 0.3rem;
}
.card:hover .det{
    background-color: #fb7813;
    color: rgb(255, 255, 255);
    padding: 0.1rem 1rem;    
    cursor: pointer;
    border-radius: 6px;
    transition-duration: 400ms;
    font-size: 1.2rem;
    letter-spacing: 0.2rem; 
    font-weight: bold;
    visibility: visible;
    border: none;
}
.card img{
    height: 70%;
    width: 100%;
    padding: 0.8rem;
    transition-duration: 250ms;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
.card:hover img{
    padding: 0rem;
}

.card h4 {
    text-decoration: underline;
}


/* ================
    Products style
=================== */

#products {
    width: 1000px;    
    margin: auto;
    padding: 10px;    
    border-radius: 8px;
}

#output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

.det {
    visibility: hidden;
}

.det:hover {
    background-color: cadetblue;
    color: rgb(255, 255, 255);
    
}

/* ================
    Container style
=================== */

#cartContainer{
    height: 90vh;
}

/* ================
    Footer  
=================== */
#main-footer {
    text-align: center;
    background-color: #17706e;
    color: rgb(255, 251, 251);
    padding: 2rem;     
    margin-top: 0.4rem;
}


/* ==================
        Admin Page
===================== */

#adminContainer #output{
    width: 60rem;
    margin: auto;
}
#adminContainer h2 {
    display: none;
}

#bookInput{
    display: flex;
    flex-direction: column ;
    width: 30rem;
    margin: auto;
    margin-top: 0.4rem; 
    
}

.adminInput {
    height: 2rem;
    margin-top: 0.6rem;
    border-radius: 0.2rem;  
    border: none;
    background-color: #b6eb7a;
    color: black;
    padding: 0.6rem;
}

#description{
    resize: none;
    height: 4rem;
    margin-bottom: 0.4rem;
}

#submit {
    height: 2.2rem;
    cursor: pointer;  
    background-color: #17706e;
    color: #f7f7ee;
    font-size: 1rem;
    letter-spacing: 0.6rem;
    transition-duration: 300ms;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}
#submit:hover{
    background-color:#fb7813;
    color: #f7f7ee;
}
.adminTable {    
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 74rem;
    margin: auto;
    margin-top: 0.4rem;
    border-left: 2rem solid #b6eb7a;
    border-right: 2rem solid #b6eb7a;
    background-color: #ddebe0;
    border-bottom: 2px solid #b6eb7a;
    border-top: 2px solid #b6eb7a;
    border-radius: 8px;
}

.adminTable h3{
    margin-left: 2rem;
}

.adminTable h4{
    margin:auto;
    
    color: #fb7813;
    letter-spacing: 0.2rem;
}

.adminTable h5 {
    margin-right: 2rem;
   
}

.adminTable button {
    background-color: rgb(144, 228, 228);
    padding: 0.5rem 1.5rem;
    margin-right: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 350ms;
    font-weight: bold;
    border: none;
}
.adminTable button:hover{
    color: #f7f7ee;
    background-color: #fb7813;
    box-shadow: 1px 1px 10px 4px #17706e;
}

.imgAdmin, .img{
    height:5rem;
    width: 3.5rem;    
}

/* ========================
        Details style 
==========================*/

#detailsContainer #output{     
    width: 80rem;   
    background-color: #b6eb7a;   
    text-align: center;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 90vh;
    color: rgb(0, 0, 0);
}
/* ==============
    Divs style          
=============== */

.details {
    display: flex; 
    align-items: center;
    justify-content: space-between;   
    margin: auto;
    flex-direction: row;
}
.bookDescription{
    width: 30rem;
    margin: 4rem;
}

/* ===== ===== ===== ===== =====
            Img style
=======  ===== ===== ===== =====*/

.bookPic{   
    margin: auto;
    border-radius: 0.5rem;
    width: 17rem;
    height: 25.28rem;
    text-align: center;   
    background-color: #b6eb7a; 
    margin-right: 2rem;

}
.bookPic img{
    height: 110%;
    width: 110%;
    padding: 1.2rem;
    transition-duration: 250ms;
    box-shadow: 1px 1px 10px 2px #888888;
}
.bookPic img:hover {
    padding: 0%;
    box-shadow: 1px 1px 6px 4px #fb7813;
}

.bookPic div {
    position: absolute;
    top: 10rem;
    background-color: #fb7813;
    padding: 0.3rem 0.8rem;
    color: bisque;
}

/* ============ */

.bookDetails h5 {
    margin-bottom: 2rem;    
    border-radius: 6px;
    padding:  0.6rem 1rem;
    text-align: left;
    background-color: #17706e;
    color: #f7f7ee;
    border-left: 2rem solid #f7f7ee;
    border-right: 2rem solid #f7f7ee;
    box-shadow: 1px 1px 8px 6px #888888;
    transition-duration: 250ms;
}
.bookDetails h5:hover {
    box-shadow: 1px 1px 10px 4px #fb7813;
}
.bookDetails span {
    font-size: 0.95rem;
}
.btn {
    padding: 0.4rem 2.2rem;
    background-color: #17706e;
    cursor: pointer;
    margin-top: 1rem;
    color: #ddebe0;
    font-size: 1rem;
    border-radius: 6px;
    transition-duration: 400ms;
    letter-spacing: 0.2rem;
    font-weight: bold;
    border: none;
}
.btn:hover{
    background-color: #fb7813
}


.bookDescription i {
    margin-left: 0.6rem;
    font-size: 1.1rem;
}
.bookDescription h4 {
    margin-top: 3rem;
    color: #17706e;
}
.bookDescription p {
    font-size: 0.9rem;
    background-color: #ddebe0;
    padding: 0.6rem;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 2px #888888;
    transition-duration: 300ms;
}
.bookDescription p:hover {
    box-shadow: 1px 1px 10px 4px #fb7813;
}
.bookDescription h5 {
    font-size: 1rem;
    background-color: #17706e;
    width: 10rem;
    padding: 0.6rem 2rem;
    border-radius: 6px;
    color: #f7f7ee;
    box-shadow: 1px 1px 10px 6px #888888;
    transition-duration: 300ms;
}
.bookDescription h5:hover {
    box-shadow: 1px 1px 10px 4px #fb7813;
}
/* ===========================
    Resposive style
/*  =====================*/

@media(min-width: 1500px) {
    
    #products {
        width: 1350px;
        margin: auto;
        padding: 10px;
        margin-top: 6px;
        border-radius: 8px;
    }
    #navbar {
        background-color: #17706e;
    }
    .linkNav a{
        font-size: 1.4rem;
        margin-right: 1rem;    
        transition-duration: 850ms;    
    }
    
    .linkNav a:hover{
        text-decoration: underline;    
    }

    #detailsContainer #output{     
        width: 100rem;   
        background-color: #afb9a3;   
        padding: 1rem;
        text-align: center;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1.6rem;
        height: 80vh;
    }
    .bookPic div {
        position: absolute;
        top: 19rem;
        background-color: #5f753e;
        padding: 0.3rem 0.8rem;
        color: bisque;
    }
    .bookPic{   
        border-radius: 0rem;
        width: 20rem;
        height: 28.28rem;
        text-align: center;   
        margin-bottom: 0.5rem;
        background-color: #afb9a3;   
    }
    .card {
        border-radius: 0.5rem;
        width: 12.05rem;
        height: 21.2rem;
        text-align: center;    
        margin: auto;    
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        background-color: #b6eb7a;
    }
}