* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient( to left, rgb(244, 243, 247), rgb(170, 163, 143) 50%, rgb(244, 243, 247));
}

/* ===============
    Navbar style
================== */
    
#navbar {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-image: linear-gradient(to right, rgb(131, 131, 156), rgb(1, 1, 20)) ;
    position: sticky;
    top: 0;
}

.name-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linkNav a{
    color: rgb(100, 223, 223);
    font-size: 1.5rem;
    margin-right: 1rem;
    
}
.linkNav a:hover{
    text-decoration: underline;
}
#logo {
    width: 5rem;
    height: 5rem;
}

#navbar h1 {
    color: rgb(100, 223, 223);
    letter-spacing: 1.2rem;
    transition-duration: 400ms;
    margin-left: 0.6rem;
    font-size: 1.6rem;
}
#navbar h1:hover {
    color: rgb(232, 157, 17);    
}
a {
    text-decoration: none;    
}

.fas {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-right: 0.4rem;   
}

#navbar  button .fas:hover{
    color: rgb(6, 6, 48);

}

/* ================
    Card style
=================== */
.card {
    border: 3px solid black;
    border-radius: 0.5rem;
    width: 12.55rem;
    height: 22.2rem;
    text-align: center;    
    margin: auto;
    /* margin-bottom: 0px; */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: rgb(255, 255, 255);   
}

.card h4, h5, p, button {
    margin-bottom: 0.4rem;
}

.card img{
    height: 70%;
    width: 100%;
    padding: 1rem;
    transition-duration: 250ms;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.card h4 {
    text-decoration: underline;
}
.card img:hover{
    padding: 0rem;
}


/* ================
    Products style
=================== */

#products {
    width: 860px;
    /* background-image: linear-gradient( to left, rgb(71, 35, 1), rgb(240, 124, 15) , rgb(240, 124, 15), rgb(71, 35, 1));  */
    margin: auto;
    padding: 10px;
    margin-top: px;
    border-radius: 8px;
}

#output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: auto; */
}

.det {
    background-color: rgb(205, 231, 255);
    padding: 0px 20px;
    background-color: rgb(100, 223, 223);
    cursor: pointer;
    border-radius: 6px;
    transition-duration: 200ms;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

.det:hover {
    background-color: rgb(233, 157, 17);
    color: black;
    padding: 2px 24px;
}

/* ================
    Container style
=================== */

#detailsContainer, #cartContainer{
    height: 90vh;
}

/* ================
    Footer  
=================== */
#main-footer {
    text-align: center;
    background-color: rgb(131, 131, 156);
    color: rgb(255, 251, 251);
    padding: 20px;
    margin-top: 3px;    
}

/* ==================
        Admin Page
===================== */

#bookInput{
    display: flex;
    flex-direction: column ;
    width: 50rem;
    margin: auto;
    margin-top: 1rem;    
}

.adminInput {
    height: 2rem;
    margin-top: 0.6rem;
}

#description{
    resize: none;
    height: 4rem;
    margin-bottom: 0.4rem;
}

#submit {
    height: 1.8rem;
    cursor: pointer;
}

.adminTable {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50rem;
    margin: auto;
    margin-top: 1rem;  
    border: 1px solid black;
}

.adminTable h3{
    margin-left: 2rem;
}

.adminTable h4{
    margin:auto;
    text-decoration: underline;
}

.adminTable h5 {
    margin-right: 2rem;
}

.adminTable button {
    background-color: rgb(100, 223, 223);
    padding: 0.5rem 1.5rem;
    margin-right: 2rem;
    border-radius: 4px;
}

.imgAdmin, .img{
    height:5rem;
    width: 3rem;
    
}


/* ===========================
    Resposive style
============================== */
@media(max-width: 500px) {
    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(212, 207, 198);
        /* width: 100%; */
    }

    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(131, 131, 156);
        padding: 2px;
        position: sticky;
        top: 0;
        width: 500px;
    }

    .card h4, h5, p, button {
        margin-bottom: 0rem;
    }
    
    .name-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    
    #navbar button {
        padding: 4px 6px;
        font-size: 1.2rem;
        border-radius: 6px; 
        margin: auto;
        background-color: rgb(100, 223, 223);
        cursor: pointer;
        margin-right: 2px;
        transition-duration: 150ms;
        font-size: 1.2rem;
        letter-spacing: 4px;

    }
    #logo {
        width: 5rem;
        height: 5rem;
    }
    #output {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }

    #products {
        width: 500px;
        background-color: rgb(37, 37, 37);
        margin: auto;
        padding: 2px;
    
    }
    .card {
        border: 1px solid black;
        border-radius: 4px;
        width: 15rem;
        height: 26rem;
        text-align: center;
        padding: 2px;
        /* margin: auto; */
        margin-bottom: 2px;
        background-color: cornsilk;
    }
    
    .card img{
        height: 80%;
        width: 100%;
    }
    
    .card h4 {
        text-decoration: underline;
    }   
    
    #main-footer {
        text-align: center;
        background-color: rgb(6, 6, 48);
        color: rgb(255, 251, 251);
        padding: 20px;
        margin-top: 3px;
        width: 500px;    
    }
    
}

@media(min-width: 1500px) {
    
    #products {
    width: 1100px;
    /* background-image: linear-gradient( to left, rgb(71, 35, 1), rgb(240, 124, 15) , rgb(240, 124, 15), rgb(71, 35, 1));  */
    margin: auto;
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
}
    

}