* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ddebe0;
}

/* ===============
    Navbar style
================== */
    
#navbar {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: cadetblue;
    position: sticky;
    top: 0;
    padding: 0.8rem;
   
}

.name-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#admin, #cart {
    color: #fdfdfd
}
.linkNav a{   
    font-size: 1.3rem;
    margin-right: 1rem;    
    transition-duration: 900ms;    
}

.linkNav a:hover{
    text-decoration: underline;     
}

#logo {
    width: 14rem;
    height: 2.5rem;
}

#navbar h1 {
    color:#fe0000;   
    transition-duration: 400ms;
    margin-left: 0.6rem;
    font-size: 1.5rem;
}

#navbar h1:hover {
    color: rgb(232, 157, 17);    
}

a {
    text-decoration: none;    
}

.fas {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin-right: 0.2rem;   
}

#navbar  button .fas:hover{
    color: rgb(18, 18, 209);

}

/* ================
    Card style
=================== */
.card {
    border: 2px solid black;
    border-radius: 0.5rem;
    border-left: 6px solid black;
    border-top: 3px solid black;
    width: 12.05rem;
    height: 21.2rem;
    text-align: center;    
    margin: auto;    
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: #ebda7a;   
}

.card h4, h5, p, button {
    margin-bottom: 0.3rem;
}

.card img{
    height: 70%;
    width: 100%;
    padding: 0.8rem;
    transition-duration: 250ms;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
.card img:hover{
    padding: 0rem;
}

.card h4 {
    text-decoration: underline;
}


/* ================
    Products style
=================== */

#products {
    width: 860px;    
    margin: auto;
    padding: 10px;    
    border-radius: 8px;
}

#output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

.det {
    background-color: rgb(221, 221, 221);
    padding: 0.1rem 2rem;    
    cursor: pointer;
    border-radius: 6px;
    transition-duration: 400ms;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;    
    color: #093131;
    margin-bottom: 1rem;
}

.det:hover {
    background-color: rgb(233, 157, 17);
    color: black;
   
}

/* ================
    Container style
=================== */

#cartContainer{
    height: 90vh;
}

/* ================
    Footer  
=================== */
#main-footer {
    text-align: center;
    background-color: cadetblue;
    color: rgb(255, 251, 251);
    padding: 2rem;     
    margin-top: 0.4rem;
}


/* ==================
        Admin Page
===================== */

#adminContainer #output{
    width: 60rem;
    margin: auto;
}
#adminContainer h2 {
    display: none;
}

#bookInput{
    display: flex;
    flex-direction: column ;
    width: 30rem;
    margin: auto;
    margin-top: 0.4rem; 
     
}

.adminInput {
    height: 2rem;
    margin-top: 0.6rem;
    border-radius: 0.2rem;  
}

#description{
    resize: none;
    height: 4rem;
    margin-bottom: 0.4rem;
}

#submit {
    height: 2.2rem;
    cursor: pointer;  
    background-color: rgb(81, 82, 82);
    color: beige;
    font-size: 1rem;
    letter-spacing: 0.6rem;
    transition-duration: 300ms;
}
#submit:hover{
    height: 2.4rem;
    color: rgb(81, 82, 82);
    background-color:rgb(144, 228, 228);
}
.adminTable {    
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 64rem;
    margin: auto;
    margin-top: 0.4rem;  
    border: 1px solid black;
    border-left: 2rem solid gray;
    border-right: 2rem solid gray;
    background-color: beige;
}

.adminTable h3{
    margin-left: 2rem;
 
}

.adminTable h4{
    margin:auto;
    text-decoration: underline;
    color: rgb(158, 1, 1);
    letter-spacing: 0.2rem;
}

.adminTable h5 {
    margin-right: 2rem;
   
}

.adminTable button {
    background-color: rgb(144, 228, 228);
    padding: 0.5rem 1.5rem;
    margin-right: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 250ms;
}
.adminTable button:hover{
    padding: 0.5rem 1.7rem;
    background-color: rgb(110, 4, 4);
    color: aquamarine;
    font-size: 0.9rem;
}

.imgAdmin, .img{
    height:5rem;
    width: 3.5rem;    
}

/* ========================
        Details style 
==========================*/

#detailsContainer #output{     
    width: 70rem;   
    background-color: #ebda7a;   
    text-align: center;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 80vh;
    color: rgb(3, 27, 27);
}
/* ==============
    Divs style          
=============== */

.details {
    display: flex; 
    align-items: center;
    justify-content: space-between;   
    margin: auto;
    flex-direction: row;
}
.bookDescription{
    width: 36rem;
    margin: 4rem;
}

/* =====
        Img style
======= */

.bookPic{   
    margin: auto;
    border-radius: 0.5rem;
    width: 15rem;
    height: 23.28rem;
    text-align: center;   
    background-color: #ebda7a;
    margin-right: 2rem;

}
.bookPic img{
    height: 110%;
    width: 110%;
    padding: 1.2rem;
    transition-duration: 250ms;
}
.bookPic img:hover {
    padding: 0%;
}

.bookPic div {
    position: absolute;
    top: 10rem;
    background-color: #3e6308;
    padding: 0.3rem 0.8rem;
    color: bisque;
}

/* ============ */

.bookDetails h5 {
    margin-bottom: 2rem;    
    padding: 0.1rem;
    text-align: left;
}
.bookDetails span {
    text-decoration: underline;
    font-size: 0.95rem;
}
.btn {
    padding: 0.4rem 2.2rem;
    background-color: cadetblue;
    cursor: pointer;
    margin-top: 1rem;
    color: #ddebe0;
    font-size: 1rem;
    border-radius: 6px;
    transition-duration: 400ms;
    letter-spacing: 0.2rem;
}
.btn:hover{
    background-color: #3e6308;
}
.bookDescription i {
    margin-left: 0.6rem;
    font-size: 1.1rem;
}
.bookDescription p {
    font-size: 0.9rem;
}
.bookDescription h5 {
    font-size: 1rem;
    text-decoration: underline;
}
/* ===========================
    Resposive style
/*  =====================*/

@media(min-width: 1500px) {
    
    #products {
    width: 1100px;
    margin: auto;
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    }
    #navbar {
        background-color: cadetblue;
    }
    .linkNav a{
    color: rgb(100, 223, 223);
    font-size: 1.4rem;
    margin-right: 1rem;    
    transition-duration: 850ms;    
    }
    
    .linkNav a:hover{
    text-decoration: underline;    
    }

    #detailsContainer #output{     
        width: 76rem;   
        background-color: rgb(224, 220, 215);
        padding: 1rem;
        text-align: center;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1.6rem;
    }

    .bookPic{   
        border-radius: 0.5rem;
        width: 25rem;
        height: 32.28rem;
        text-align: center;   
        margin-bottom: 0.5rem;
        background-color: rgb(224, 220, 215);
    }
    .card {
        border: 2px solid black;
        border-radius: 0.5rem;
        border-left: 6px solid black;
        border-top: 3px solid black;
        width: 12.05rem;
        height: 21.2rem;
        text-align: center;    
        margin: auto;    
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        background-color: #e4dbaa;   
    }
}